@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';




@layer components {
  .inputField {
    @apply outline-none border-black border border-opacity-30 px-3 py-2 text-lg rounded-md font-extralight w-full bg-transparent;
  }

  .error-message{
    @apply text-red-300 font-normal text-xl
  }
}
.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 30px;
}

*{
  -webkit-user-drag: none; /* Safari and older versions of Chrome */
  user-drag: none; /* Standard */
}
html,
body {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-behavior: smooth;
  -webkit-user-drag: none; 
  
}
body::-webkit-scrollbar{
display: none;
}

.font-arone {
  font-family: "AR One Sans", sans-serif;
}

.font-poppins{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  
}


.font-poppins2{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.font-logo{
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 600;
}




