@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{

  .inputField{
    @apply outline-none border-black border border-opacity-30 px-3 py-2 text-lg rounded-md font-extralight w-full bg-transparent
  }
}

html, body {
  height: 100%;
  margin: 0;
}

body {

  display: flex;
  align-items: center;
  justify-content: center;
}
canvas {
  border: 1px solid white;
}